// Main colors fromm light to dark
$color1: #E5E5FF;
$color2: #9999CC;
$color3: #45bde9;
$color4: #00004C;
$color5: #666666;
$color6: #191919;

// Loops pane
$loopsPaneWidth: 300px;
$loopsPaneLeftBorderWidth: 5px;

// Music controls
$controlsHeight: 100px;
$controlsTopBorder: 5px;

// Tracks
$trackHeight: 50px;
$trackContainerWidth: 100px;
$trackRightBorderWidth: 5px;

// Play Button
$holeOffset: 20px;
$buttonOffset: 40px;

.left-pane, .loops-pane {
  position: absolute;
  top: 0;
  height: 100%;
}

.left-pane {
  left: 0;
  background-color: $color5;
  width: calc(100% - #{$loopsPaneWidth + $loopsPaneLeftBorderWidth});
}

.loops-pane {
  right: 0;
  width: $loopsPaneWidth;
  border-left: $loopsPaneLeftBorderWidth solid $color2;
  background-color: $color6;
  overflow: auto;
}

.left-pane .loops-main {
  width: 100%;
  height: calc(100% - #{$controlsHeight + $controlsTopBorder});
  background-color: $color5;
}

.left-pane .controls {
  width: 100%;
  height: $controlsHeight;
  background-color: $color6;
  border-top: $controlsTopBorder solid $color2;
  user-select: none;
}

.loops-main {
  position: relative;
}

.tracks {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  min-height: 100%;
  max-height: 100%;
  border-right: 5px solid $color2;
  background-color: $color6;
  width: $trackContainerWidth;
  .track-info {
    width: 100%;
    background-color: $color4;
    border-bottom: 1px solid white;
  }
}

.loops {
  position: absolute;
  overflow: auto;
  top: 0;
  left: $trackContainerWidth + $trackRightBorderWidth;
  max-height: 100%;
  min-height: 100%;
  max-width: calc(100% - #{$trackContainerWidth});
  min-width: calc(100% - #{$trackContainerWidth});
}

.track-info, .track {
  width: 1500px;
  height: $trackHeight;
  background-color: $color6;
  border-bottom: 1px solid white;
  position: relative;
  .track-loop {
    background-color: $color1;
    height: 100%;
  }
}

/**
 * Categories
 */
.categories {
  border-bottom: 5px solid $color2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.category-button {
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  background-color: $color1;
  display: inline-block;
  border: 1px solid $color4;
  transition: all 0.5s;
}

.category-button:hover {
  background-color: #45bde9;
  padding: 15px;
  border: 1px solid $color1;
  cursor: pointer;
}

.category-button.active {
  background-color: #e94545;
  color: $color1;
  padding: 15px;
}

/**
 * Available Loops
 */
.loop-available {
  padding: 5px;
  background-color: $color1;
  margin: 5px;
  border-radius: 10px;
  .loop-name {
    padding: 5px;
  }
  audio {
    width: 100%;
  }
  &:hover {
    background-color: $color3;
  }
}



/**
 * The Play button
 */
#container_button {
  background-color: $color6;
  width: $controlsHeight;
  height: $controlsHeight;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 200px;
  box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
}

#hole {
  background-color: $color4;
  width: $controlsHeight - $holeOffset;
  height: $controlsHeight - $holeOffset;
  margin-left: auto;
  margin-right: auto;
  top: $holeOffset / 2;
  position: relative;
  border-radius: 155px;
  box-shadow: 1px 1px 0px #5d5d5d;
}

#button {
  width: $controlsHeight - $buttonOffset;
  height: $controlsHeight - $buttonOffset;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  cursor: pointer;
  position: relative;
  background-image: linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
  border-radius: 150px;
  box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
  transition: all .2s;
}

#button:active {
  top: 9px;
  box-shadow: inset 0px 2px 0px #a8a8a8;
}

#triangle {
  width: 0px;
  height: 0px;
  margin-left: 50%;
  margin-top: 50%;
  left: -8px;
  top: -17px;
  position: relative;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid $color4;
  transition: all .3s;
}

#button:hover #triangle {
  border-left: 25px solid #45bde9;
}

#button:active #triangle {
  border-left: 25px solid #e94545;
}